body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.block-element {
  display: block;
  text-align: center;
}

.App {
  background: rgb(57, 87, 145);
  min-height: 100vh;
  padding: 5rem 20rem;
}

.todo-wrapper {
  background: rgb(9, 9, 71);
  padding: 1rem 3rem;
  margin: 0 auto;
  border-radius: 5px;
}

.todo-wrapper h1{
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.todo-input {
  background: none;
  border: 2px solid rgb(57, 87, 145);
  padding: 10px 30px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  color: white;
  width: 75%;
}

button {
  background: rgb(57, 87, 145);
  padding: 12px 30px;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: rgb(47, 70, 117);
}

.todo-wrap {
  color: white;
  font-weight: 700;
  display: flex;
  padding: .5rem 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  background: rgb(57, 87, 145);
  margin-top: 10px;
  border-radius: 20px;
}

.todo-wrap img {
  cursor: pointer;
}

p {
  cursor: pointer;
}
p.completed {
  text-decoration: line-through;
}